<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">

	<!-- wp:pattern {"slug":"fse/hero-full-width"} /-->
	<!-- wp:pattern {"slug":"fse/section-services"} /-->
	<!-- wp:pattern {"slug":"fse/section-stats"} /-->
	<!-- wp:pattern {"slug":"fse/section-testimonials"} /-->
	<!-- wp:pattern {"slug":"fse/section-process"} /-->
	<!-- wp:pattern {"slug":"fse/posts-section"} /-->
	<!-- wp:pattern {"slug":"fse/cta"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->