<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|2xl","bottom":"var:preset|spacing|2xl"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:post-title {"level":1} /-->
	<!-- wp:post-featured-image {"align":"wide","sizeSlug":"large"} /-->
	<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap"}} -->
	<div class="wp-block-group">
		<!-- wp:post-date {"fontSize":"small"} /-->
		<!-- wp:post-author-name {"fontSize":"small"} /-->
		<!-- wp:post-terms {"term":"category","fontSize":"small"} /-->
	</div>
	<!-- /wp:group -->
	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
	<!-- wp:separator /-->
	<!-- wp:group {"layout":{"type":"flex","justifyContent":"space-between","flexWrap":"wrap"}} -->
	<div class="wp-block-group">
		<!-- wp:post-navigation-link {"type":"previous","label":"Article précédent","showTitle":true} /-->
		<!-- wp:post-navigation-link {"label":"Article suivant","showTitle":true} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->